.contenedorCalendar{
    background-color: #756464;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10vh);

    .calendar{
        background-color: #fff;
        width: 60vw;
        height: fit-content;
    }
}