.containerToDo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 200 0 / 72%);
    
    .mitades{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    
    h1, h3 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-weight: bold;
        color: #ffffff;
    }
    
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #333; 
    }
    
    h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
    
    input[type="text"],
    textarea {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
    
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    button:focus {
        outline: none;
    }
    
    .modificacion {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }
    
    .tareasDivision {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin-top: 2rem;
    }
    
    .tareas, .pendingTasks {
        background-color: #f0f0f0;
        border-radius: 8px;
        padding: 2rem;
        max-width: 500px;

        h3{
            color: #000;
        }
    }
}


@media only screen and (max-width: 768px) {
    .modificacion {
        flex-direction: column;
        align-items: flex-start;
    }

    .tareas, .pendingTasks {
        flex-basis: calc(100% - 2rem);
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .containerToDo {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    button {
        font-size: 0.9rem;
    }
}
