

@keyframes blink {
    0% {
        filter: blur(0px);
    }

    40% {
        filter: blur(5px);
    }

    60% {
        filter: blur(15px);
    }

    100% {
        filter: blur(25px);
    }
}

.centerHexagon {
    animation: none;   
}
.hexagon {
    position: relative;
    width: 280px;
    height: 215px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: radial-gradient(at center, #e1cf93 1%, #ff7d20c8 40%, #fff200), #FF6B01;
    filter: blur(20px);
    animation: blink 10s infinite;
    animation-timing-function: ease-in-out;
}



.hexagonBack {
    position: relative;
    width: 325px;
    height: 250px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #ffdd6d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin: 5px;
    overflow: hidden;
}

.hexagonBack:hover {
    transform: scale3d(1.5, 1.5, 1.5);
    z-index: 1;
}

.hexagonBack:hover .hexagon {
    animation: none;
    filter: blur(0px);
    transition: .3s;

    .titleHexagon{
        font-size: 40px;
        transition: 0.2s;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.container .uno {
    top: 90px;
    position: absolute;
}

.container .dos {
    position: relative;
    top: 168px;
    right: 80px;
    height: fit-content;
}

#dos-dos {
    left: 80px;
}

.titleHexagon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s ease;
    text-decoration: none;
    font-style: italic;
    font-weight: lighter;
}

#logo {
    height: 60px;
    width: 60px;
}